# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Output
# =========================
dist/
build/
coverage/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Runtime files
# =========================
attendance.csv
state.json